* {
    box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

form > *{
  display: block;
  margin-top: 20px;
}

form > input[type=text] {
  width: 300px;
}

form > input[type=number] {
  width: 100px;
}

.results {
  height: 400px;
  padding: 20px;
}